</div>
<footer>
  <section class="bottom-footer" style="text-align: center; font-weight: 600;">
    <div class="row">
      <div class="col-12 mr-auto">
        © Beauty 2021
      </div>
    </div>
  </section>
</footer>
</div>
<script src="/javascripts/main.js"></script>
</body>

</html>